## DB test

### Conversation DB - SQLite

In [4]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-20.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,8c145f01-66be-4f25-adb3-cd8429ce8067,ㅎㅇ,안녕하세요! 무엇을 도와드릴까요?,1740029160,1740029162
1,2,b23a4e50-7a8a-4765-a2cb-6f3fb3ae8d5a,안녕,안녕하세요! 무엇을 도와드릴까요?,1740029627,1740029629
2,3,b23a4e50-7a8a-4765-a2cb-6f3fb3ae8d5a,대화가 이어지는가?,"네, 대화가 이어지고 있습니다. 무엇이 궁금하신가요?",1740029637,1740029638
3,4,b23a4e50-7a8a-4765-a2cb-6f3fb3ae8d5a,잘 되네,"네, 잘 되고 있어서 다행입니다! 😊 다른 질문이나 필요한 것이 있으시면 언제든지...",1740029647,1740029649
4,5,b23a4e50-7a8a-4765-a2cb-6f3fb3ae8d5a,커피는 어떻게 만들어?,"커피 만드는 방법은 여러 가지가 있는데요, 어떤 종류의 커피를 만들고 싶으신가요? ...",1740029655,1740029657

In [2]:
df

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,8c145f01-66be-4f25-adb3-cd8429ce8067,ㅎㅇ,안녕하세요! 무엇을 도와드릴까요?,1740029160,1740029162