In [8]:
from datetime import datetime

round(datetime.now().timestamp())

1739862070

In [10]:
(int(datetime.now().timestamp()))

1739862685

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Text, DateTime, func
from sqlalchemy.orm import sessionmaker, declarative_base
from datetime import datetime

# 데이터베이스 설정
date = datetime.now().strftime("%Y-%m-%d")
DATABASE_URL = f"sqlite:///./chatbot.db_{date}"

engine = create_engine(DATABASE_URL, connect_args={"check_same_thread": False})
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

# 🟢 1️⃣ 채팅 기록 테이블 모델 정의


class ChatHistory(Base):
    __tablename__ = "chat_history"

    id = Column(Integer, primary_key=True, autoincrement=True)  # 자동 증가 PK
    uuid = Column(String, nullable=False, index=True)  # 챗팅룸 ID
    question = Column(Text, nullable=False)  # 사용자 질문
    response = Column(Text, nullable=False)  # 챗봇 응답
    question_timestamp = Column(DateTime, default=func.now())  # 질문 시간
    response_timestamp = Column(DateTime, default=func.now())  # 응답 시간


# 테이블 생성
Base.metadata.create_all(bind=engine)

In [13]:
datetime.now().strftime("%Y-%m-%d")

'2025-02-18'

In [31]:
import sqlite3
from datetime import datetime
import pandas as pd

conn = sqlite3.connect("chatbot_2025-02-18.db")

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

   id       uuid question response question_timestamp response_timestamp
0   1  test-4412       안녕    안녕하세요         1739865557         1739865557

In [49]:
import os

CURRENT_PATH = os.getcwd()
PARENT_PATH = os.path.dirname(CURRENT_PATH)
DATABASE_PATH = os.path.join(PARENT_PATH, 'database')
CONVERSATION_DATABASE_PATH = os.path.join(DATABASE_PATH, 'conversation')

CONVERSATION_DATABASE_PATH

'/home/taejong_kim/workspace/rag-lab/database/conversation'

In [54]:
path

'/home/taejong_kim/workspace/rag-lab/database/conversation/chatbot_2025-02-18.db'

In [63]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-19.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,3952c572-c041-4935-8c21-2006dcaf861b,안녕,안녕하세요,1739941123,1739941123
1,2,3952c572-c041-4935-8c21-2006dcaf861b,난 바보인가봐,죄송합니다. 이해할 수 없습니다.,1739941127,1739941127
2,3,3952c572-c041-4935-8c21-2006dcaf861b,이걸 모르고 몇시간을 삽질한거야,죄송합니다. 이해할 수 없습니다.,1739941133,1739941133
3,4,3952c572-c041-4935-8c21-2006dcaf861b,실시간 추가되니?,죄송합니다. 이해할 수 없습니다.,1739941141,1739941141
4,5,3952c572-c041-4935-8c21-2006dcaf861b,너무 잘되네....,죄송합니다. 이해할 수 없습니다.,1739941146,1739941146
5,6,d59260b9-448b-49d4-9feb-9c0b743f114b,안녕,안녕하세요,1739942197,1739942197
6,7,d59260b9-448b-49d4-9feb-9c0b743f114b,ㄹㄴㅇㄹ,죄송합니다. 이해할 수 없습니다.,1739942199,1739942199
7,8,d59260b9-448b-49d4-9feb-9c0b743f114b,dsfsdf],죄송합니다. 이해할 수 없습니다.,1739945264,1739945264

In [56]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-19, 13-46-24.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

Empty DataFrame
Columns: [id, uuid, question, response, question_timestamp, response_timestamp]
Index: []

In [ ]:
from sqlalchemy import MetaData, Table

metadata = MetaData()

In [2]:
from dotenv import load_dotenv
import os


load_dotenv()

print(os.getenv("ROOT_PATH"))
print(os.getenv("DB_PATH"))
print(os.getenv("CONVERSATION_DB_PATH"))

/home/taejong_kim/workspace/rag-lab
os.path.join(ROOT_PATH, 'database')  # db path
os.path.join(DB_PATH, 'conversation')  # conversation db 저장소

In [3]:
os.path.home()

AttributeError: module 'posixpath' has no attribute 'home'