In [8]:
from datetime import datetime

round(datetime.now().timestamp())

1739862070

In [10]:
(int(datetime.now().timestamp()))

1739862685

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Text, DateTime, func
from sqlalchemy.orm import sessionmaker, declarative_base
from datetime import datetime

# 데이터베이스 설정
date = datetime.now().strftime("%Y-%m-%d")
DATABASE_URL = f"sqlite:///./chatbot.db_{date}"

engine = create_engine(DATABASE_URL, connect_args={"check_same_thread": False})
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

# 🟢 1️⃣ 채팅 기록 테이블 모델 정의


class ChatHistory(Base):
    __tablename__ = "chat_history"

    id = Column(Integer, primary_key=True, autoincrement=True)  # 자동 증가 PK
    uuid = Column(String, nullable=False, index=True)  # 챗팅룸 ID
    question = Column(Text, nullable=False)  # 사용자 질문
    response = Column(Text, nullable=False)  # 챗봇 응답
    question_timestamp = Column(DateTime, default=func.now())  # 질문 시간
    response_timestamp = Column(DateTime, default=func.now())  # 응답 시간


# 테이블 생성
Base.metadata.create_all(bind=engine)

In [13]:
datetime.now().strftime("%Y-%m-%d")

'2025-02-18'

In [31]:
import sqlite3
from datetime import datetime
import pandas as pd

conn = sqlite3.connect("chatbot_2025-02-18.db")

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

   id       uuid question response question_timestamp response_timestamp
0   1  test-4412       안녕    안녕하세요         1739865557         1739865557

In [49]:
import os

CURRENT_PATH = os.getcwd()
PARENT_PATH = os.path.dirname(CURRENT_PATH)
DATABASE_PATH = os.path.join(PARENT_PATH, 'database')
CONVERSATION_DATABASE_PATH = os.path.join(DATABASE_PATH, 'conversation')

CONVERSATION_DATABASE_PATH

'/home/taejong_kim/workspace/rag-lab/database/conversation'

In [54]:
path

'/home/taejong_kim/workspace/rag-lab/database/conversation/chatbot_2025-02-18.db'

In [65]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-19.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,7f2e47dd-3222-4ab5-a85c-70c6643e3432,안녕,안녕하세요,1739923625,1739923625
1,2,3b3bc310-10f9-4289-b979-d220279d230e,안녕,안녕하세요,1739923894,1739923894
2,3,9b6a12d0-4fb2-4fee-90d1-c0106cd89d97,넌 이름이 뭐니,죄송합니다. 이해할 수 없습니다.,1739923898,1739923898
3,4,5b59634a-a546-41c8-9ab5-50d81a215513,안녕,안녕하세요,1739923946,1739923946
4,5,d94ec13b-df56-4fef-b70c-08a9c582949f,안녕,안녕하세요,1739923950,1739923950